

footer{
    width: 1440px;
    height: 164px;
    gap: 0px;
    opacity: 0px;
    background: #232536;
    margin-top: 73px;

     section{
        width: 1440px;
        height: 164px;
        gap: 0px;
        opacity: 0px;
        background: #232536;
        padding-left: 80px;
        padding-top: 54px;
        padding-right: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #fff;

         .right {
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 26px;
            svg{
                font-size: 24px;
            }
         }
     }

}